# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db_*.sqlite3
media/
staticfiles/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Source PDF
2026_JHTET_SYLLABUS.pdf
